@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color:  #ebebeb;
}

.hero-section {
  background-image: url('../Assets/bgimage.png'); /* Replace with the actual path to your image */
}

::-webkit-scrollbar {
  display: none;
}